<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContacts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerContactServlet</display-name>
    <servlet-name>CreerContactServlet</servlet-name>
    <servlet-class>servlets.CreerContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerContactServlet</servlet-name>
    <url-pattern>/CreerContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierContactServlet</display-name>
    <servlet-name>ModifierContactServlet</servlet-name>
    <servlet-class>servlets.ModifierContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierContactServlet</servlet-name>
    <url-pattern>/ModifierContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerContactServlet</display-name>
    <servlet-name>SupprimerContactServlet</servlet-name>
    <servlet-class>servlets.SupprimerContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerContactServlet</servlet-name>
    <url-pattern>/SupprimerContact</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
</web-app>